In [ ]:
listas por comprensión 

como insetar duplas 
por que las listas no son mitables?

listas de conjuntos

#LISTAS POR COMPRENSIÓN
Su sintaxis sucinta le permite crear nuevas listas en una o a mas línea de código

In [9]:
#Donde se selecciona el valor de la primera lista si al iterar sobre la segunda también se encuentra en esta.  
nom1 = ['Samuelle' ,'Angie' ,'Valentina', 'Alejandro', 'Jonsito']
nom2 = ['Samuelle' ,'Andrea' ,'Samdra', 'Anderson', 'Jonsito']
common = [a for a in nom1 for b in nom2 if a == b]
common

['Samuelle', 'Jonsito']

In [34]:
super1=(["arroz", "carne", "pechuga", "cebolla", "papa"])
super2=(["carne", "cebolla" " maíz", "Panela"])
super3=(["consomé", "cebolla", "avena", "carne"])

print(set(super1) & set(super2) & set(super3))

{'carne'}

In [39]:
super=super1+super2+super3
super

['arroz',
 'carne',
 'pechuga',
 'cebolla',
 'papa',
 'carne',
 'cebolla maíz',
 'Panela',
 'consomé',
 'cebolla',
 'avena',
 'carne']

In [41]:
comun=[comida for comida in super if comida != super.index(comida)]
comun

['arroz',
 'carne',
 'pechuga',
 'cebolla',
 'papa',
 'carne',
 'cebolla maíz',
 'Panela',
 'consomé',
 'cebolla',
 'avena',
 'carne']

In [44]:
nums = [1, 5, 2, 1, 4, 5, 1]
 
dup = [x for i, x in enumerate(super) if i != super.index(x)]
dup

['carne', 'cebolla', 'carne']